.profile-card {
    font-size: 28px;
    margin-top: 50px;
    
}

.profile-card .info-2 {
    padding-left: 75px;
}
.profile-card .table-2{
    margin-left: 100px;
    margin-top: 7px;
}
.profile-card td {
    padding: 5px;
}
.profile-card .value {
    padding-left: 10px;
}

@media screen and (min-width:900px) and (max-width:1100px){
    .profile-card {
        font-size: 25px;
        margin-top: 50px;
        
    }
   
}

@media screen and (min-width:701px) and (max-width:899px){
    .profile-card {
        font-size: 22px;
        margin-top: 40px;
        
    }
    .profile-card .info-2 {
        padding-left: 65px;
    }
}
@media screen and (max-width:700px){
    .profile-card {
        font-size: 20px;
        margin-top: 30px;
        
    }
    .profile-card .info-2 {
        padding-left: 70px;
    }
    .profile-card .table-2{
        margin-left: 70px;

    }
}